<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{
        var culture = new System.Globalization.CultureInfo("sv-SV");
        var twoDaysAhead = culture.DateTimeFormat.GetDayName(DateTime.Now.AddDays(2).DayOfWeek);
        var threeDaysAhead = culture.DateTimeFormat.GetDayName(DateTime.Now.AddDays(3).DayOfWeek);
        var fourDaysAhead = culture.DateTimeFormat.GetDayName(DateTime.Now.AddDays(4).DayOfWeek);
            }

</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <a class="navbar-brand display-1" href='@Url.Action("Index", "Shows")'>Tablån</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href='@Url.Action("Index", "Shows")'>Idag</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='@Url.Action("Index", "Shows", new {daysAhead = 1})'>Imorgon</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='@Url.Action("Index", "Shows", new {daysAhead = 2})'>@twoDaysAhead</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='@Url.Action("Index", "Shows", new {daysAhead = 3})'>@threeDaysAhead</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='@Url.Action("Index", "Shows", new {daysAhead = 4})'>@fourDaysAhead</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Vad vill du kolla på?
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href='@Url.Action("ByGenres", "Shows", new {reqGenreId= 1})'>Drama</a>
                        <a class="dropdown-item" href='@Url.Action("ByGenres", "Shows", new {reqGenreId= 2})'>Action</a>
                        <a class="dropdown-item" href='@Url.Action("ByGenres", "Shows", new {reqGenreId= 10})'>Humor</a>
                        <a class="dropdown-item" href='@Url.Action("ByGenres", "Shows", new {reqGenreId= 3})'>Reality</a>
                        <a class="dropdown-item" href='@Url.Action("ByGenres", "Shows", new {reqGenreId= 4})'>Underhållning</a>
                        <a class="dropdown-item" href='@Url.Action("ByGenres", "Shows", new {reqGenreId= 6})'>Matlagning</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href='@Url.Action("ByGenres", "Shows", new {reqGenreId= 7})'>Nyheter</a>
                        <a class="dropdown-item" href='@Url.Action("ByGenres", "Shows", new {reqGenreId= 5})'>Sport</a>
                        <a class="dropdown-item" href='@Url.Action("ByGenres", "Shows", new {reqGenreId= 8})'>Dokumentärer</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href='@Url.Action("ByGenres", "Shows", new {reqGenreId= 9})'>Barn</a>
                    </div>
                </li>
                <li class="nav-item">
                    @{string state = "";
                        if (Session["userId"] != null)
                        {
                            state = "Min sida";
                        }
                        else
                        {
                            state = "Logga in";
                        }
                    }
                    <a class="nav-link" href="http://localhost:37863/Users/MyPage">@state</a>
                </li>
            </ul>
        </div>
    </nav>

    
             @{Html.RenderAction("_Carousel","News");}
    

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Tablån&#8482;</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
